<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add address</title>
</head>
<body>

<h1> Add address to {{ person.name }} {{ person.surname }} </h1>

    <form method="post">
        <input type="text" name="city" placeholder="city" value="{{ address.city }}">
        <input type="text" name="street" placeholder="street" value="{{ address.street }}">
        <input type="text" name="house_number" placeholder="house number" value="{{ address.house_number }}">
        <input type="text" name="apartment_number" placeholder="apartment number" value="{{ address.apartment_number }}">
        <button type="submit">Add address</button>


        {% csrf_token %}
    </form>

</body>
</html>

